<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://memocloneapp-default-rtdb.firebaseio.com/</string>
	<key>CLIENT_ID</key>
	<string>818731533674-7eeshlm6fo951lc16ijb0donvo3scvg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818731533674-7eeshlm6fo951lc16ijb0donvo3scvg7</string>
	<key>API_KEY</key>
	<string>AIzaSyBrqzySgFcgt5iu85vFR_bIdVCXoZiddfk</string>
	<key>GCM_SENDER_ID</key>
	<string>818731533674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irisMJ.MemoCloneApp</string>
	<key>PROJECT_ID</key>
	<string>memocloneapp</string>
	<key>STORAGE_BUCKET</key>
	<string>memocloneapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:818731533674:ios:74e1c4ec962f00f8f95113</string>
</dict>
</plist>
